Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-JWT-Extended
Flask-Login
bcrypt
pandas
scikit-learn
web3
python-dotenv
PyMySQL
email_validator
plaid-python
requests
boto3
web3
py-solc-x
eth-account
Pillow